@font-face {
  font-family: "WhiteOnBlack";
  src: url("/fonts/WhiteOnBlack.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: "WhiteOnBlack", sans-serif;
}

h2 {
  @apply text-2xl;
  @apply font-bold;
  @apply mt-5;
  @apply mb-2;
}

h3 {
  @apply font-bold;
  @apply underline;
  @apply text-neutral;
  @apply mt-2;
  @apply mb-1;
}

ul {
  list-style: disc;
}

ol {
  list-style: auto;
}

.nuxt-content {
  a {
    @apply text-primary;
    @apply underline;
  }
  ol,
  ul {
    @apply pl-5;
  }
  hr {
    @apply my-5;
  }
  img {
    @apply rounded-lg;
    @apply shadow-2xl;
    @apply max-w-60;
    @apply max-h-60;
    @apply md:max-w-80;
    @apply md:max-h-80;
    @apply m-2;
  }
}

p {
  @apply mb-5;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 20;
}
