@font-face {
  font-family: "WhiteOnBlack";
  src: url("/fonts/WhiteOnBlack.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: "WhiteOnBlack", sans-serif;
}

h3 {
  @apply font-bold;
  @apply underline;
  @apply mt-2;
  @apply mb-1;
}

ul {
  list-style: disc;
}

ol {
  list-style: auto;
}

p {
  @apply mb-5;
}

h2 {
  @apply text-2xl;
  @apply font-bold;
  @apply mt-5;
}

.iti__globe {
  background-image: url("path/to/globe.png");
}
.iti__flag {
  background-image: url("path/to/flags.png");
}

@media (min-resolution: 2x) {
  .iti__globe {
    background-image: url("path/to/globe@2x.png");
  }
  .iti__flag {
    background-image: url("path/to/flags@2x.png");
  }
}
